---
title: Build a fullstack website using Python FastAPI and Svelte
date: 2021-06-28
description: A basic tutorial on how to use Svelte for a fullstack website built with FastAPI as a backend.
---
<script context="module">
export const load = async () => {
  return {
    props: {
      // imagesData: (await import('./_info.json')).default,
    }
  }
}
</script>

When I was first learning Svelte, I was using it as a way to build a simple website like a landpage and such , but I needed to take a further step and use it in a fullstack website backed with FastAPI.


